<html>
<head>
  <title>Pokedex</title>
  <link rel="stylesheet" href="/css/colors.css">
  <link rel="stylesheet" href="/css/poke_style.css">
</head>
<script type="module" src="/js/pokemonPage.js" defer ></script>
<body>
  <main class="container" id="container">
    <nav>
      <form action="/pokemons" method="GET" id="search-bar">
        <input type="text" required name="name" placeholder="pokemon">
        <button type="submit" id="search-button">🔍</button>
      </form>
      <div id="side-bar">
        <!-- nav buttons -->
      </div>
    </nav>
    <section class="cards-container" id="cards-container">
      <!-- pokemon cards -->
    </section>
  </main>
</body>

</html>