<html>
<head>
  <title>Pokedex</title>
  <link rel="stylesheet" href="/css/colors.css">
  <link rel="stylesheet" href="/css/poke_style.css">
</head>
<script type="module" src="/js/pokemonPage.js" defer ></script>
<body>
  <main id="container">
    <nav>
      <form action="/pokemons" method="GET" id="search-bar">
        <input type="text" required name="name" placeholder="pokemon">
        <button type="submit" id="search-button">🔍</button>
      </form>
      <div id="side-bar">
      </div>
    </nav>
    <section id="cards-container">
    </section>
  </main>
</body>

</html>